*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #F4F4F2;
    color: black;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #002d67;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;

}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color:#3a8cf7;
    font-size: 1.02rem;
}
main hr{
    border: 0;
    background-color: #3a8cf7;
    height: 1.2px;
    margin:40px 84px ;
}

.left{
    font-size: 1.7rem;
    color:#9ac5ff;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 180px 0;
    align-items: center;
}
.firstSection>div{
     width: 30%;
}
.leftSection{
    font-size: 2.5rem;
}
.leftSection .btn1{
    padding: 12px;
    background-color:#002d67;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 5px gray;
}
.leftSection .btn1:hover{
    background-color: #BBBFCA;
    color: black;
}
.rightSection{
}
.rightSection img{
    width: 100%;
}

.purple{
    color: #3a8cf7;
    text-shadow: 0 0 5px #15fff7;
}
.text-grey{
    color: gray;
}
#element{
    color:#3a8cf7 ;
    text-shadow: 0 0 5px #15fff7;
}
.secondSection{
    max-width: 80vw;
    margin:auto;
    height: 80vh;

}
.secondSection h1{
    font-size: 1.9rem;
}
.secondSection .box{
    background: black;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondSection .vertical{
    height: 100px;
    width: 1px;
    background-color: black;
    margin:0 100px;
}
.image-top{
    width:30px;
    position: relative;
    top: -32px;
    left: -9px;
    box-shadow: 2px 2px 5px gray;
}
.vertical-title{
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 20px;
}
.vertical-disc{
    position: relative;
    top: 85px;
    color: gray;
    width: 150px;
    font-size: 10px;
}
footer{
    background-color:  #002d67;
    height: 235px;
    color: white;
}
.footer{
    display: flex;
    padding: 100px 122px;
    justify-content: space-evenly;

}
.footer ul{
    list-style: none;
}
.footer>div{
    width: 223px;
}
footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 150px 0;
}